.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
README_interface.md

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
